body {
    background-image: url('./background.webp');
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div {
    height: 50px;
}

header div:first-child {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

header div:last-child {
    color: #f1ad1d;
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 530px;
    box-sizing: border-box;
}

section {
    display: flex;
}

form,
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

.user-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main div {
    font-size: 14px;
    margin: 10px 0;
}

.black {
    background-color: #333333;
    font-size: 20px;
    height: 45px;
    color: white;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}

section .black {
    width: 300px;
}

aside .black {
    width: 200px;
}

span {
    color: #f1ad1d;
}

input {
    padding: 10px;
    background: rgba(255, 255, 255, .5);
}

textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .5);
}

button {
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    padding: 10px 0;
    width: 100px;
    background-color: #f1ad1d;
    border-width: 0;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    line-height: 2;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 5px 0;
}

ul i {
    color: #f1ad1d;
    background-color: #333333;
    width: 30px;
    height: 30px;
    padding: 7px;
    text-align: center;
    box-sizing: border-box;
}

aside div:last-child i {
    color: white;
    background-color: #f1ad1d;
    width: 40px;
    height: 40px;
    padding: 12px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 10px;
}