body {
    font-weight: 700;
}

.header {
    background-color: #63cac9;
    height: 130px;
}

.nav {
    background-color: #ff9999;
    height: 50px;
}

.menu {
    background-color: #9acb9c;
    height: 400px;
    width: 20%;
    float: left;
}

.content {
    background-color: #cbccce;
    width: 80%;
    height: 400px;
    float: right;
}

.footer {
    clear: both;
    background-color: #0466fd;
    height: 100px;
}