div {
    width: 608px;
}

div div {
    display: inline-block;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #385d8a;
    text-align: center;
    font-size: 32px;
    line-height: 56px;
}

.header {
    height: 60px;
    color: white;
}

.col {
    height: 300px;
    margin-top: 4px;
}

#header1 {
    background-color: #984807;
}

#header2 {
    background-color: #77933c;
}

#header3 {
    background-color: #376092;
}

#col1 {
    background-color: #fac090;
}

#col2 {
    background-color: #c3d69b;
}

#col3 {
    background-color: #95b3d7;
}
