body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('./img/dots.png')
}

header {
    background-image: url('./img/stick.png');
    color: white;
    height: 720px;
    background-size: 100%;
    padding: 470px 0 0 200px;
    box-sizing: border-box;
}

header div:first-child {
    font-size: 32px;
}

header div:nth-child(2) {
    font-size: 12px;
    margin: 16px 0 28px;
}

header div:last-child {
    font-size: 36px;
    width: 510px;
    height: 110px;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 35px 41px;
    background-color: rgba(0, 0, 0, .25)
}

.award {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.award > div:nth-child(2) {
    margin-bottom: 50px;
}

.award .nav {
    display: flex;
    border-bottom: 3px solid #f1ad1d;
    padding-bottom: 15px;
    justify-content: space-between;
    width: 70%;
    font-size: 14px;
}

.award .nav > div {
    display: flex;
}

.award .nav .nav-items {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 12px;
}

.consulting {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.consulting > div:last-child {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.consulting .ad {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.consulting .ad > div {
    display: flex;
}

.consulting .ad figure {
    width: 270px;
    height: 148px;
    margin: 5px 7px;
}

.consulting .ad .consult {
    background-image: url('./img/consulting.png');
}

.consulting .ad .photo {
    background-image: url('./img/photography.png');
}

.consulting .ad .web-des {
    background-image: url('./img/web-design.png');
}

.consulting .ad .advert {
    background-image: url('./img/advertising.png');
}

.consulting figure div {
    width: 110px;
    height: 40px;
    padding: 13px 10px;
    margin-top: 97px;
    margin-left: 13px;
}

.consulting .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.consulting button {
    font-size: 12px;
    align-self: flex-start;
    width: 150px;
    height: 45px;
}

.realities {
    height: 310px;
    background-image: url('./img/speed.png');
    color: white;
    padding-top: 90px;
    box-sizing: border-box;
    font-size: 14px;
}

.team {
    padding-top: 40px;
    padding-bottom: 100px;
}

.team > div:last-child {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.team figure {
    width: 190px;
    height: 178px;
    font-size: 12px;
    margin: 1px;
    padding-top: 135px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

.team .diana {
    background-image: url('./img/diana.png');
}

.team .gladys {
    background-image: url('./img/gladys.png');
}

.team .kenneth {
    background-image: url('./img/kenneth.png');
}

.team .craig {
    background-image: url('./img/craig.png');
}

.team .robert {
    background-image: url('./img/robert.png');
}

.team .catherin {
    background-image: url('./img/catherin.png');
}

.team .porter {
    background-image: url('./img/porter.png');
}

.team .dennis {
    background-image: url('./img/dennis.png');
}

.team .mark {
    background-image: url('./img/mark.png');
}

.team .thomas {
    background-image: url('./img/thomas.png');
}

.team .joshua {
    background-image: url('./img/joshua.png');
}

.team .angel {
    background-image: url('./img/angel.png');
}

.team figure div {
    padding: 10px 40px 10px 13px;
    min-width: 0;
}

.secret {
    padding-bottom: 130px;
}

.secret > div:last-child {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.secret .item {
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 420px;
}

.secret .item > div {
    text-align: center;
    font-size: 12px;
}

.secret .item .caption {
    align-self: stretch;
    padding: 15px;
    font-size: 14px;
}

.secret .item i {
    font-size: 30px;
    color: #333333;
}

.secret .item div:nth-child(3) {
    margin-bottom: -60px;
}

.secret .item div:nth-child(5) {
    font-size: 14px;
    margin-top: -40px;
}

.secret .item > div:last-child {
    border-bottom: 3px solid #333333;
    align-self: stretch;
    padding-bottom: 30px;
}

.features {
    background-image: url('./img/stick-dark.png');
    height: 387px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    color: white;
}

.features div:last-child {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

.clients {
    padding-top: 50px;
    padding-bottom: 100px;
}

.clients .comments {
    font-size: 12px;
}

.clients .comments div:first-child {
    font-size: 14px;
}

.clients > div:last-child {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.clients .item {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 12px;
}

.clients .item > div:first-child {
    display: flex;
    justify-content: space-between;
}

.clients .item i {
    font-size: 30px;
    color: #f1ad1d;
}

.clients i + div {
    border-top: 3px solid #f1ad1d;
    width: 86%;
    margin-top: 13px;
}

.clients .item .quote {
    border-bottom: 3px solid #333333;
    padding-bottom: 13px;
}

.clients .item .profile {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.clients .item img {
    margin-right: 10px;
}

.subscribe {
    padding-top: 20px;
    padding-bottom: 100px;
}

.subscribe > div:last-child {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

.subscribe input {
    flex-grow: 1;
    padding-left: 20px;
}

.subscribe button {
    width: 130px;
}

.form > div:last-child {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    font-size: 12px;
    height: 380px;
    align-items: stretch;
    padding-bottom: 130px;
}

.form form,
.form nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form .caption {
    font-size: 14px;
    padding: 15px;
}

.form form .caption {
    width: 280px;
}

.form form div:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

.form input {
    width: 46%;
    height: 30px;
    margin-right: -6px;
}

.form textarea {
    width: 100%;
}

.form button {
    width: 100px;
    height: 30px;
    margin-right: 20px;
}

.form .content div {
    margin-bottom: 10px;
}

.form nav i {
    background-color: #333333;
    color: #f1ad1d;
    width: 34px;
    height: 30px;
    padding: 10px 12px;
    box-sizing: border-box;
    margin-right: 15px;
}

.form .links i {
    background-color: #f1ad1d;
    color: white;
    height: 36px;
    width: 40px;
    padding: 14px;
}

.more-info {
    color: white;
    background-image: url('./img/bridge.png');
    height: 400px;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-size: 12px;
}

.more-info .comments {
    font-size: 14px;
}

.cooperation {
    font-size: 14px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 100px;
}

.cooperation .bold {
    font-size: 12px;
}

.news > div:nth-child(2) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    justify-content: space-between;
}

.news {
    font-size: 14px;
    text-align: center;
}

.news .comments div:nth-child(2) {
    font-size: 12px;
}

.news .column {
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
}

.news .item img {
    width: 100%;
    margin-bottom: 5px;
}

.news .item i {
    background-color: #333333;
    color: #f1ad1d;
    width: 32px;
    height: 30px;
    padding: 6px 8px;
    box-sizing: border-box;
    margin-right: 10px;
}

.news .item div:nth-child(3) {
    margin-bottom: 15px;
    margin-top: 15px;
}

.news .item > div:last-child {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c1c1c1;
    border-bottom: 3px solid #333333;
    color: #c1c1c1;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.news button {
    padding: 10px 40px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.buy {
    background-image: url('./img/tree.png');
    height: 310px;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
}

.buy input {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
}

.portfolio {
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio .buttons {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 0 auto 50px;
}

.portfolio .buttons input {
    background-color: white;
    color: #333333;
    border: 1px solid #333333;
    padding: 10px 30px;
}

.portfolio .buttons input:first-child {
    background-color: #333333;
    color: #f1ad1d;
    border: 1px solid #333333;
}

.portfolio .galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio .galery > div {
    text-align: center;
    border: 2px solid #333333;
    width: 281px;
    height: 271px;
    box-sizing: border-box;
    margin: 5px;
}

.portfolio .galery img {
    margin: 5px;
}

.portfolio .galery button {
    padding: 10px 20px;
    margin-top: 20px;
}

footer div {
    padding: 15px;
    text-align: center;
    font-size: 12px;
}

/*Ниже общие стили. Применяются ко всей страничке*/
.uppercase {
    text-transform: uppercase;
}

.orange {
    color: #f1ad1d;
}

.bold {
    font-weight: bold;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.comments div {
    margin-bottom: 20px;
    font-size: 14px;
}

.comments div:nth-child(2) {
    font-size: 12px;
}

.comments div:last-child {
    width: 60px;
    border-bottom: 3px solid #f1ad1d;
    margin: 20px 0 0;
}

.caption {
    background-color: #333333;
    color: white;
    box-sizing: border-box;
}

button {
    background-color: #f1ad1d;
    border-width: 0;
    color: white;
}

a {
    text-decoration: none;
}