body {
    background-color: #4fabd3;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    margin: auto;
    width: 400px;
    height: 250px;
    border-radius: 5px;
    border: 10px solid #4fa2c6;
    justify-content: space-between;
}

div {
    display: flex;
    justify-content: space-around;
}

div:first-child {
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 0 1px #dddddd;
    background: linear-gradient(to bottom, #ffffff, #f1f4f7);
    font-weight: bold;
    color: #555555;
    font-size: 18px;
}

div:last-child {
    margin-bottom: 20px;
}

div > input {
    width: 80%;
    border: 5px solid #f1f4f7;
    border-radius: 3px;
    height: 25px;
    padding: 5px;
}

button {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #ebf3f7, #d4e7ef);
    font-weight: bold;
    color: #5b7780;
    border: 1px solid #999999;
}

form + p {
    color: #ffffff;
    display: flex;
    margin: 20px auto;
}

a {
    color: #9fd7f3;
    text-decoration: none;
}