form {
    display: flex;
    flex-direction: column;
}

fieldset {
    margin: auto;
    display: flex;
    flex-direction: row;
    min-width: 300px;
    border: 1px solid #aaaaaa;
    border-width: 1px 0 0 0;
}

div {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}

label {
    margin-right: 30px;
}

select {
    display: flex;
    width: 173px;
}

.required {
    font-weight: bold;
}

legend {
    color: #000080;
    font-weight: bold;
}