p:first-of-type {
    background-color: #ff4500;
}

p:nth-child(2) {
    background-color: gold;
}

p.center {
    background-image: url(./code.jpg);
    background-repeat: space;
    color: white;
}

p:nth-last-of-type(2) {
    background-color: rgba(0, 0, 205, .7)
}

p:last-child {
    background-color: rgb(128, 0, 128)
}