p {
    border-color: aqua;
    border-style: dashed;
    border-width: 2px;
}

p:nth-child(2) {
    border-color: saddlebrown ;
    border-style: solid ;
    border-width: 1px;
    border-radius: 6px;
}

p:last-of-type {
    border-color: darkblue ;
    border-style: dotted;
    border-width: 4px;
    border-radius: 5px;
}

p:nth-last-child(2) {
    border-color: firebrick;
    border-style: double;
    border-width: 5px;
    border-radius: 7px;
}

.paragraph {
    border-color: gold;
    border-style: groove;
    border-width: 3px;
}

.paragraph + p {
    border-color: hotpink;
    border-style: outset;
    border-width: 6px;
    border-radius: 8px;
}

.paragraph + p + p {
    border-color: lawngreen;
    border-style: inset;
    border-width: 7px;
}

p:first-child {
    border-color: cornflowerblue;
    border-style: ridge;
    border-width: 8px;
}