p {
    padding-left: 80px;
    padding-right: 80px;
    text-align: justify;
}

.head {
    font-size: 26px;
}

.strong {
    font-weight: bold;
}

a {
    color: black;
}

.cursive {
    font-style: italic;
}