body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

div > h1 {
    font-size: 12px;
}

div div {
    background-color: powderblue;
    margin: 30px;
    padding: 15px;
    border-radius: 20px/50px;
    box-shadow: 6px 6px 6px lightblue;
}

h4 {
    margin: 0px;
    color: steelblue;
}

h4 ~ h2 {
    text-align: center;
    margin-top: 0px;
}

code {
    background-color: aliceblue;
    border-radius: 5px;
}

p + p:not(:nth-of-type(3)):not(:nth-of-type(5)) {
    background-color: aliceblue;
    border-radius: 5px;
    width: 75%;
    margin-left: 12.5%;
    padding: 5px;
}

span.comments {
    white-space: pre-wrap;
    color: dimgray;
}

p + p:not(:nth-of-type(3)):not(:nth-of-type(5)):hover {
    box-shadow: 4px 4px 4px mediumslateblue;
}