body {
    margin: 0;
}

body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 83px;
}

header figure {
    margin: 0 100px 0 5px;
}

header img {
    max-width: 150px;
}

header nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    list-style-type: none;
    background-color: #95d246;
    width: 100%;
    padding-right: 80px;
    color: white;
}

main {
    display: flex;
    padding-top: 25px;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

article figure {
    margin: 0;
    display: flex;
    max-width: 45%;
    min-width: 500px;
    flex-direction: column;
}

article img {
    width: 100%;
}

article figure > figcaption {
    width: 100%;
    background-color: #95d14b;
    font-size: 18px;
    padding-left: 10px;
    color: white;
    box-sizing: border-box;
}

article figure + div {
    max-width: 53%;
    min-width: 500px;
    color: #959595;
}

section {
    display: flex;
    flex-direction: column;
    color: #959595;
}

section > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

section > div > div {
    max-width: 24%;
    min-width: 240px;
}

section figure {
    margin: 0;
}

section img {
    width: 100%;
}

h2 {
    font-size: 18px;
}

section p:last-child {
    color: black;
}

i {
    color: #959595;
}