body {
    margin: 0;
}

header {
    background-image: url('./helicopter.jpg');
    height: 230px;
    background-repeat: round space;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 10px solid #151515;
}

header > div {
    background-color: rgba(255, 255, 255, .6);
    display: flex;
    padding: 8px 5px;
}

header button {
    align-self: center;
}

main {
    display: flex;
    flex-direction: row-reverse;
}

aside {
    background-color: #e9decc;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    min-width: 27%;
}

aside > div {
    margin-bottom: 10px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
}

form > div > div {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    color: #8b0d0e;
}

aside nav {
    color: #8b0d0e;
}

aside > nav > ul {
    margin: 0;
    padding-left: 20px;
}

section {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

section > div {
    margin-top: 15px;
}

section > div > div {
    margin-top: 10px;
}

.content {
    display: flex;
}

img {
    margin-right: 5px;
    align-self: flex-start;
}

.content div {
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    background-color: #8b0d0e;
    color: white;
}

.buttons div {
    margin: 5px 8px;
}

label {
    color: black;
    font-weight: bold;
}

span {
    font-weight: bold;
    color: #8b0d0e;
}

button {
    min-width: 80px;
    background-color: #8b0d0e;
    border-width: 0;
    color: white;
    padding: 5px;
}

aside button {
    align-self: flex-start;
    min-width: 1px;
}

input {
    box-sizing: border-box;
    width: 100%;
}

.red {
    font-weight: bold;
    color: #8b0d0e;
}

.datetime {
    font-style: italic;
    margin-top: 1px;
}

img {
    width: 200px;
}